//importiert die standardfarben aus den options
$colours: $standardfarben;
// no need to touch this part, this will create all the necessary classes
@each $colour in $colours {
	.has-#{nth($colour, 1)}-background-color { background: nth($colour, 2); 	}
	.bg-has-#{nth($colour, 1)}-background-color { background: nth($colour, 2); }
	.bgd#{nth($colour, 1)} { background: nth($colour, 2); }
	.#{nth($colour, 1)}bgd { background: nth($colour, 2); }
	.has-#{nth($colour, 1)}-color { color:nth($colour, 2); }
	.#{nth($colour, 1)} { color:nth($colour, 2) !important; }
}

//importiert die fontgrössen aus den options
$fontsizes: $schriftgrosse;
// no need to touch this part, this will create all the necessary classes
@each $fontsize in $fontsizes {
	#{nth($fontsize, 1)}, .#{nth($fontsize, 1)} {
		font-size:nth($fontsize, 2);
		line-height:nth($fontsize, 2)*1.4;
		margin-bottom:nth($fontsize, 2)*.5 !important;
	}
}

.h1, h1 {font-size: $h1;}
.h2, h2 {font-size: $h2;}

.shadow {
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.opacity-95 {
	opacity: .90;
}
mark { color:$grau; }
strong, b {  font-weight: 700; }
u { border-bottom: 2px solid $rot;}
*:focus{outline: 0;}

@mixin menuitem {
	li.nav-item {
		margin: 0.5rem 1rem 0 0;
		&:before {display: none;}
		a.nav-link {
			padding: 0 1rem 0 0;
			color: $menucolor !important;
			font-size: $h5;
			font-weight: 400;
			&:hover {color: $hilitecolor!important;}
			&:focus {outline: 0;}
			&.active{color:$hilitecolor !important;}
		}
		>a.active { color: $hilitecolor; }
	}
}

@mixin dropdownmenu() {
	.dropdown {
		.dropdown-menu {
			height: 0;
			display: block;
			overflow: hidden;
			opacity:0;
			-webkit-transition: height .25s ease;
			-moz-transition: height .25s ease;
			-ms-transition: height .25s ease;
			-o-transition: height .25s ease;
			transition: height .25s ease;
			background: $lichtgrau;
			border:none;
			border-radius: 0;
			li.nav-item {
				a.dropdown-item {
					padding: 0.5rem;
					background-color: transparent;
					&:hover, &.active {color: $rot!important;}
					&:focus { outline: 0; }
					
				}
			}
			&.show {
				height:auto;
				opacity: 1;
				-webkit-transition: height .25s ease;
				-moz-transition: height .25s ease;
				-ms-transition: height .25s ease;
				-o-transition: height .25s ease;
				transition: height .25s ease;
			}
		}
	}
}

@mixin tabletmenu() {
	#navbar-main-menu:before {display: none;}
	.caption-box { display: none; }
	.navbar-collapse .nav-link, .navbar-collapsing .nav-link {border: 0 !important;}
}
@mixin desktopmenu() {}

@mixin navbar() {
	#navbar-main-menu {
		position: relative;
		&:before {
			content:'';
			position: absolute;
			top: -12.75rem !important;
			left: -350px;
			width: 350px;
			height: 350px;
			//background:url('../inc/doppelpfeil.svg') no-repeat top center;
			background-size: contain;
		}
		>.navbar-toggler {
			width: 40px;
			height: 40px;
			margin: .75rem;
			padding: 0;
			border: 0;
			>.navbar-toggler-icon {
				background: url('img/stern.svg') no-repeat center center;
				background-size: cover;
				width: 40px;
				height: 40px;
				-webkit-transition: all .25s ease-out;
				-moz-transition: all .25s ease-out;
				-ms-transition: all .25s ease-out;
				-o-transition: all .25s ease-out;
				transition: all .25s ease-out;
				>&:hover { transform: rotate(90deg); }
			}
			&:not(.collapsed) {
				>.navbar-toggler-icon {
					transform: rotate(180deg);
				}
			}
		}
		@include menuitem();
		@include dropdownmenu();
		>#navbarSupportedContent ul.nav.navbar-nav{
			padding:0;
			margin:0;
			@include menuitem();
		}
	}
	#menu-bottom {
		bottom: 0;
		@include menuitem();
	}
}

body {
	@include navbar();	
	#page{
		font-family:$font-family !important;
		font-size: $font-size;
		line-height:  $line-height;
		//letter-spacing: 1px;
		font-weight: 400;
		color:$schwarz;
		hyphens: auto;
		-webkit-hyphens: auto;
		-webkit-hyphenate-limit-chars: auto 3;
		-webkit-hyphenate-limit-lines: 4;
		-ms-hyphens: auto;
		-ms-hyphenate-limit-chars: auto 3;
		-ms-hyphenate-limit-lines: 4;
		h1,h2,h3,h4,h5,h6 {
			font-family:$headings-font-family;
			font-weight: regular;
		}
		a:not(.btn) {
			color:$linkcolor;
			text-decoration: none;
			&:visited {color:$linkcolor;}
			&:hover { color:$hilitecolor !important; }
		}
		p { 
			margin-bottom: 1rem !important; 
			&:empty { display: none !important; }
		}

		#masthead {
			.site-branding {
				.custom-logo-link {
					.custom-logo {
						width: 100%;
						height: auto;
					}
				}
				.blog-name {
					font-size: $font-size * 0.8;
				}
			}
		}
		.entry-content {
			ul {
				padding:0;
				margin:1rem 0;
				list-style-type: none;
				li {
					position: relative;
					padding:0 0 0 1rem;
					&:before {
						position:absolute;
						content:'•';
						margin:0 0 0 -.75rem
						
					}
				}
			}
		}
		blockquote {
			margin: 2rem 0;
			padding-right: 8rem;
			color:$rot;
			font-style: italic;
			font-size:$h3;
			line-height: $h3;
			p { margin-bottom: .5rem;}
		}
		cite {
			color:$dunkelgrau;
			font-size: $font-size;
		}
		hr {
			border:none;
			border-top:5px dotted $grau;
			background: none;
			margin: 0 40% 0 40%;
		}
		/***** Top menu *****/
		#masthead {
			.site-branding {
				position: relative;
				a.custom-logo-link {
					display: block;
					img.custom-logo { opacity: .9; }
				}
			}
			#wp-custom-header.wp-custom-header img {
				height: 100%;
				width: auto;
				opacity: .9;
			}	
		}
		#content{
			z-index: 1;
			.site-content main article.page {
				margin: 0;
				.entry-content {margin:0;}
			}
		}

		#colophon {
			@include menuitem();
		}
		#secondary {
			.widget {
				&.widget_recent_entries, 
				&.widget_categories, 
				&.widget_tag_cloud, 
				&.widget_recent_comments, 
				&.widget_archive, 
				&.widget_meta,
				&.widget_search {
					background:$grau;
					color:$weiss;
					padding:1rem;
					.tagcloud {
						a {
							color:$weiss;
							&:visited {color:$weiss;}
							&:hover { color:$rot; }
						}
					}
					.widget-title {
						font-size: $h5;
						text-transform: uppercase;
						color:$weiss;
					}
					ul {
						list-style: none;
						margin:0;
						padding:0;
						li{
							position: relative;
							&:before { content:'_'; }
							a { 
								color:$weiss; 
								&:visited {color:$weiss;}
								&:hover { color:$rot; }
							}
						}
					}
				}
				&.widget_text {
					h2.widget-title {
						font-size: $h5;
						text-transform: uppercase;
						color:$dunkelgrau;
					}
				}
			}
		}
	}
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {   }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	@include desktopmenu();
	#navbar-main-menu:before {
		top: 0 !important;
		left: -160px;
		width: 170px;
		height: 170px;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	#navbar-main-menu:before {
		top: 0 !important;
		left: -160px;
		width: 188px;
		height: 188px;
	}
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	#navbar-main-menu:before {
		top: 0 !important;
		left: -160px;
		width: 207px;
		height: 207px;
	}
 }