img[src$='.svg'], svg {  width: 100%; }

.slick-slider {margin:0}

.slick-slide {margin: 0!important;}
.slick-prev:before, .slick-next:before {color:$lichtgrau;}
.slick-prev {left:-2rem}
.slick-next {right: -2rem;}
.slick-dots {bottom:3rem;}

.archive.category {
    &.category-internet, &.category-buch, &.category-drucksachen, &.category-produkt, &.category-erscheinungsbild {
        .card {
            border:0;
            border-radius: 0;
            margin:.5rem;
            >img {
                object-fit: contain !important;
                object-position: top left;
                height: 100%;
            }
            .entry-title {
                border:.15rem solid $schwarz;
                padding: .25rem .5rem;
                margin:1rem 0;
            }
            .card-body {
                padding:0 .5rem .5rem;
            }
        }
    }
}

a.zurueck {
    font-size: $h2;
    display: inline-block;
    margin-bottom: .5rem;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: $weiss;
	.modal-dialog {
		position: fixed;
		margin: 0;
		max-width:100%;
		width: 100%;
		height: 100%;
		padding: 0;
		.modal-content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 20px;
			left: 0;
			background: $weiss;
			background-clip: padding-box;
			border: 0;
			border-radius: 0;
			.modal-header {
				height:6rem;
				border: 0;
				.modal-title {font-weight: 300;}
				.modal-close::before{
					font-size:2rem;
					cursor: pointer;
				}
			}
			.modal-body { 
				overflow: hidden!important; 
			}
			.modal-footer {
				right: 0;
				bottom: 0;
				left: 0;
				padding: 10px;
				border-top: 0 solid #e9ecef;
			}
		}
	}
}

.carousel.slide {
	.carousel-inner {
		height: 100%;
		.carousel-item {
			height: 100%;
			.carousel-caption {
				color:$schwarz;
				z-index: 10;
				padding:0;
				bottom:2.5rem;
			}
			figure {
				padding: 15px 0 0 0;
				height: 100%;
				img {
					max-height: 82vh;
					width: 100%;
					height: auto;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}
	.carousel-indicators {bottom:-1rem;}
	.carousel-control-prev { span:before { font-size: 2rem; } }
	.carousel-control-next { span:before { font-size: 2rem; } }
}